In [ ]:
import pandas as pd 
import numpy as np

In [3]:
heart = pd.read_csv("heart.csv")

In [4]:
heart.head()

,ID,Age,Gender,Occupation,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Smoking,Family History of Anxiety,Stress Level (1-10),Heart Rate (bpm during attack),Breathing Rate (breaths/min),Sweating Level (1-5),Dizziness,Medication,Therapy Sessions (per month),Recent Major Life Event,Diet Quality (1-10),Severity of Anxiety Attack (1-10)
0,1,56,Female,Other,9.6,8.3,175,6,No,No,4,145,33,3,No,No,4,Yes,9,10
1,2,46,Male,Teacher,6.4,7.3,97,6,No,No,3,143,18,5,Yes,No,0,No,9,8
2,3,32,Female,Doctor,6.9,1.0,467,14,No,No,2,60,34,1,No,No,7,Yes,10,5
3,4,60,Male,Doctor,9.2,3.7,471,16,No,Yes,6,94,19,1,No,Yes,4,Yes,5,8
4,5,25,Male,Student,9.2,2.5,364,2,No,Yes,7,152,15,4,No,Yes,0,No,1,1

print true false for null values

In [5]:
heart.isnull()

,ID,Age,Gender,Occupation,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Smoking,Family History of Anxiety,Stress Level (1-10),Heart Rate (bpm during attack),Breathing Rate (breaths/min),Sweating Level (1-5),Dizziness,Medication,Therapy Sessions (per month),Recent Major Life Event,Diet Quality (1-10),Severity of Anxiety Attack (1-10)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

check the number of null values

In [9]:
heart.isnull().sum()

ID                                   0
Age                                  0
Gender                               0
Occupation                           0
Sleep Hours                          0
Physical Activity (hrs/week)         0
Caffeine Intake (mg/day)             0
Alcohol Consumption (drinks/week)    0
Smoking                              0
Family History of Anxiety            0
Stress Level (1-10)                  0
Heart Rate (bpm during attack)       0
Breathing Rate (breaths/min)         0
Sweating Level (1-5)                 0
Dizziness                            0
Medication                           0
Therapy Sessions (per month)         0
Recent Major Life Event              0
Diet Quality (1-10)                  0
Severity of Anxiety Attack (1-10)    0
dtype: int64

add null value

In [10]:
heart.loc[1,"Age"] = np.nan

check again number of null values

In [11]:
heart.isnull().sum()

ID                                   0
Age                                  1
Gender                               0
Occupation                           0
Sleep Hours                          0
Physical Activity (hrs/week)         0
Caffeine Intake (mg/day)             0
Alcohol Consumption (drinks/week)    0
Smoking                              0
Family History of Anxiety            0
Stress Level (1-10)                  0
Heart Rate (bpm during attack)       0
Breathing Rate (breaths/min)         0
Sweating Level (1-5)                 0
Dizziness                            0
Medication                           0
Therapy Sessions (per month)         0
Recent Major Life Event              0
Diet Quality (1-10)                  0
Severity of Anxiety Attack (1-10)    0
dtype: int64

In [42]:
heart.loc[4,"Age"] = np.nan
heart.loc[5,"Age"] = np.nan

In [43]:
heart.head()

,ID,Age,Gender,Occupation,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Smoking,Family History of Anxiety,Stress Level (1-10),Heart Rate (bpm during attack),Breathing Rate (breaths/min),Sweating Level (1-5),Dizziness,Medication,Therapy Sessions (per month),Recent Major Life Event,Diet Quality (1-10),Severity of Anxiety Attack (1-10)
0,1,56.0,Female,Other,9.6,8.3,175,6,No,No,4,145,33,3,No,No,4,Yes,9,10
1,2,NaN,Male,Teacher,6.4,7.3,97,6,No,No,3,143,18,5,Yes,No,0,No,9,8
2,3,32.0,Female,Doctor,6.9,1.0,467,14,No,No,2,60,34,1,No,No,7,Yes,10,5
3,4,60.0,Male,Doctor,9.2,3.7,471,16,No,Yes,6,94,19,1,No,Yes,4,Yes,5,8
4,5,NaN,Male,Student,9.2,2.5,364,2,No,Yes,7,152,15,4,No,Yes,0,No,1,1

In [17]:
heart.shape

(12000, 20)

check not null values

In [13]:
heart.notnull().sum()

ID                                   12000
Age                                  11997
Gender                               12000
Occupation                           12000
Sleep Hours                          12000
Physical Activity (hrs/week)         12000
Caffeine Intake (mg/day)             12000
Alcohol Consumption (drinks/week)    12000
Smoking                              12000
Family History of Anxiety            12000
Stress Level (1-10)                  12000
Heart Rate (bpm during attack)       12000
Breathing Rate (breaths/min)         12000
Sweating Level (1-5)                 12000
Dizziness                            12000
Medication                           12000
Therapy Sessions (per month)         12000
Recent Major Life Event              12000
Diet Quality (1-10)                  12000
Severity of Anxiety Attack (1-10)    12000
dtype: int64

drop row containing na values

In [15]:
heart_drop = heart.dropna(axis=0)
heart_drop.shape

(11997, 20)

drop columns containing na values

In [19]:
heart_drop = heart.dropna(axis=1)
heart_drop.shape

(12000, 19)

drop rows with atleast one na value

In [20]:
heart_drop = heart.dropna(how = "any")
heart_drop.shape

(11997, 20)

drop rows if and only if every element is na

In [21]:
heart_drop = heart.dropna(how = "all")
heart_drop.shape

(12000, 20)

if there are not more than 5 notnull values row will drop.

In [22]:
heart_drop = heart.dropna(thresh = 5)
heart_drop.shape

(12000, 20)

In [40]:
heart_drop = heart.dropna(thresh = 20)
heart_drop.shape

(11997, 20)

In [36]:
heart_drop = heart.dropna(subset = ["Age" , "ID"])
heart_drop.shape

(11997, 20)

In [37]:
heart_drop = heart.dropna(subset = ["Gender" , "ID"])
heart_drop.shape

(12000, 20)

fill na values with -1.

In [45]:
heart.fillna(-1)

,ID,Age,Gender,Occupation,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Smoking,Family History of Anxiety,Stress Level (1-10),Heart Rate (bpm during attack),Breathing Rate (breaths/min),Sweating Level (1-5),Dizziness,Medication,Therapy Sessions (per month),Recent Major Life Event,Diet Quality (1-10),Severity of Anxiety Attack (1-10)
0,1,56.0,Female,Other,9.6,8.3,175,6,No,No,4,145,33,3,No,No,4,Yes,9,10
1,2,-1.0,Male,Teacher,6.4,7.3,97,6,No,No,3,143,18,5,Yes,No,0,No,9,8
2,3,32.0,Female,Doctor,6.9,1.0,467,14,No,No,2,60,34,1,No,No,7,Yes,10,5
3,4,60.0,Male,Doctor,9.2,3.7,471,16,No,Yes,6,94,19,1,No,Yes,4,Yes,5,8
4,5,-1.0,Male,Student,9.2,2.5,364,2,No,Yes,7,152,15,4,No,Yes,0,No,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,11996,28.0,Male,Engineer,4.4,4.1,360,1,Yes,Yes,1,139,20,2,Yes,No,7,No,9,6
11996,11997,49.0,Female,Doctor,9.9,2.2,433,4,No,Yes,4,150,33,2,No,No,3,No,5,6
11997,11998,23.0,Female,Student,9.8,8.1,140,19,Yes,No,2,81,33,2,No,No,8,No,1,10
11998,11999,52.0,Male,Teacher,5.9,6.6,114,12,No,No,9,90,14,5,No,No,3,No,9,5
11999,12000,50.0,Male,Teacher,6.6,7.8,114,0,No,No,7,107,19,2,No,Yes,3,No,8,2

In [48]:
new_data = pd.read_csv("fillna.csv")
new_data.head()

   ID     Name   Age        State   Department   Salary Joining_Date
0   1    Aarav  25.0    Karnataka  Engineering  50000.0   15-01-2020
1   2    Aditi   NaN  Maharashtra           HR  55000.0   20-05-2019
2   3  Krishna  30.0    Karnataka  Engineering      NaN   10-06-2021
3   4    Meera  28.0          NaN      Finance  60000.0   01-08-2018
4   5   Ananya  35.0       Kerala      Finance  70000.0          NaN

In [49]:
new_data.fillna(-1)

   ID     Name   Age          State   Department   Salary Joining_Date
0   1    Aarav  25.0      Karnataka  Engineering  50000.0   15-01-2020
1   2    Aditi  -1.0    Maharashtra           HR  55000.0   20-05-2019
2   3  Krishna  30.0      Karnataka  Engineering     -1.0   10-06-2021
3   4    Meera  28.0             -1      Finance  60000.0   01-08-2018
4   5   Ananya  35.0         Kerala      Finance  70000.0           -1
5   6       -1  29.0     Tamil Nadu  Engineering  58000.0   05-03-2022
6   7    Rohan  40.0          Delhi    Marketing     -1.0   11-12-2017
7   8   Ishita  32.0  Uttar Pradesh      Finance  75000.0   20-10-2019

mean of age for new data

In [51]:
meanofa = new_data["Age"].mean()
print(meanofa)

31.285714285714285

add mean of age of new data to clo age in na values.

In [52]:
new_data["Age"].fillna(new_data["Age"].mean())

0    25.000000
1    31.285714
2    30.000000
3    28.000000
4    35.000000
5    29.000000
6    40.000000
7    32.000000
Name: Age, dtype: float64

cal salary median

In [55]:
medianofs = new_data["Salary"].median()
print(medianofs)

59000.0

add salary median to na values of salary.

In [54]:
new_data["Salary"].fillna(new_data["Salary"].median())

0    50000.0
1    55000.0
2    59000.0
3    60000.0
4    70000.0
5    58000.0
6    59000.0
7    75000.0
Name: Salary, dtype: float64

add unknown to na values in state column.

In [56]:
new_data["State"].fillna("Unknown")

0        Karnataka
1      Maharashtra
2        Karnataka
3          Unknown
4           Kerala
5       Tamil Nadu
6            Delhi
7    Uttar Pradesh
Name: State, dtype: object

backward fill joining date.

In [62]:
new_data["Joining_Date"].bfill()

0    15-01-2020
1    20-05-2019
2    10-06-2021
3    01-08-2018
4    05-03-2022
5    05-03-2022
6    11-12-2017
7    20-10-2019
Name: Joining_Date, dtype: object

forward fill joining data.

In [58]:
new_data["Joining_Date"].ffill()

0    15-01-2020
1    20-05-2019
2    10-06-2021
3    01-08-2018
4    01-08-2018
5    05-03-2022
6    11-12-2017
7    20-10-2019
Name: Joining_Date, dtype: object

In [65]:
new_data["Salary"].ffill()

0    50000.0
1    55000.0
2    55000.0
3    60000.0
4    70000.0
5    58000.0
6    58000.0
7    75000.0
Name: Salary, dtype: float64

check mean after forward fill.

In [69]:
new_data["Salary"].ffill().mean()

60125.0

In [67]:
new_data["Salary"].bfill()

0    50000.0
1    55000.0
2    60000.0
3    60000.0
4    70000.0
5    58000.0
6    75000.0
7    75000.0
Name: Salary, dtype: float64

cal mean after backward fill.

In [70]:
new_data["Salary"].bfill().mean()

62875.0